# Sesi 1

## Integer

In [6]:
print(12983+1)

12984

In [3]:
print(10)
print(type(10))

10
<class 'int'>

## Floating Point

In [8]:
print(4.2)
print(type(4.2))

print(4.)
print(.2)
print(.4e7)
print(4.2e-4)

4.2
<class 'float'>
4.0
0.2
4000000.0
0.00042

## String

In [7]:
print('Hi!')
print(type('Hi!'))

Hi!
<class 'str'>

In [9]:
print('')

In [10]:
print("this string contains single quote (') character.")
print('this string contains double quote (") character.')

this string contains single quote (') character.
this string contains double quote (") character.

In [11]:
print('coba''kutip')

cobakutip

## Boolean

In [12]:
print(type(True))
print(type(False))

<class 'bool'>
<class 'bool'>

## Variable

### Assignment

In [13]:
n = 300
print(n)

300

In [14]:
n

300

In [15]:
n = 1000
print(n)
n

1000

1000

In [16]:
a = 300
b = 300
c = 300
print(a, b, c)

300 300 300

### Variable Types

In [17]:
var = 42.0
print(var)

var = 'Jadi String'
print(var)

42.0
Jadi String

### Naming Rules

In [18]:
name = 'Hacktiv8'
Age = 69
has_laptop = True

print(name, Age, has_laptop)

Hacktiv8 69 True

In [19]:
sins_7 = True

In [20]:
age = 1
Age = 2
aGe = 3
AGE = 4
a_g_e = 5
print(age, Age, aGe, AGE, a_g_e)

1 2 3 4 5

In [21]:
# camelCase
tinggiBadan = 170.0
hasPhoneOrLaptop = True

# PascalCase
TinggiBadan = 168.0
HasPhoneOrLaptop = False

# snake_case
tinggi_badan = 160.0
has_phone_or_laptop = True

In [22]:
print(tinggiBadan, hasPhoneOrLaptop)
print(TinggiBadan, HasPhoneOrLaptop)
print(tinggi_badan, has_phone_or_laptop)

170.0 True
168.0 False
160.0 True

## Operators and Expression

In [23]:
a = 10
b = 20
a+b

30

### Aritmethic Operators

In [24]:
a = 4
b = 3

print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a % b)
print(a ** b)

print(62 // 3)

7
1
12
1.3333333333333333
1
64
20

In [25]:
10 / 5

2.0

### Comparison Operators

In [26]:
a = 10
b = 20

print(a == b)
print(a != b)
print(a <= b)
print(a >= b)

print(a < b)
print(a > b)

False
True
True
False
True
False

In [27]:
a = 30
b = 30

print(a == b)
print(a <= b)
print(a >= b)

True
True
True

## String Manipulation

In [28]:
s = 'foo'
t = 'bar'
u = 'baz'
print(s+t+u)

foobarbaz

In [29]:
s*4

'foofoofoofoo'

In [30]:
print(s in 'That good for us')

False

In [31]:
s = 'HackTIV8 Python test'

In [32]:
print(s.capitalize())

Hacktiv8 python test

In [33]:
print(s.lower())

hacktiv8 python test

In [34]:
print(s.swapcase())
print(s.title())
print(s.upper())

hACKtiv8 pYTHON TEST
Hacktiv8 Python Test
HACKTIV8 PYTHON TEST

## List

In [35]:
var = ['foo', 'bar', 'baz', 'qux']
var2 = ['bar', 'foo', 'baz', 'qux']
type(var)

list

In [36]:
var == var2

False

In [37]:
var3 = [420, 'text', True, 6.9, 'test']

In [38]:
for item in var3:
    print(item, ' is ', type(item))

420  is  <class 'int'>
text  is  <class 'str'>
True  is  <class 'bool'>
6.9  is  <class 'float'>
test  is  <class 'str'>

In [39]:
print(var3[0])
print(var3[3])
print(var3[4])

420
6.9
test

In [40]:
print(var3[-1])

test

In [41]:
print(var3[1:4])

['text', True, 6.9]

In [42]:
print(var3 + ['grault', 'graply'])

[420, 'text', True, 6.9, 'test', 'grault', 'graply']

In [43]:
var3 = var3 + ['grault', 'graply']

In [44]:
var3

[420, 'text', True, 6.9, 'test', 'grault', 'graply']

In [46]:
print(var3 * 2)
print(len(var3))
print(min(var2))
print(max(var2))
var3[3] = 20

[420, 'text', True, 20, 'test', 'grault', 'graply', 420, 'text', True, 20, 'test', 'grault', 'graply']
7
bar
qux

In [47]:
var3

[420, 'text', True, 20, 'test', 'grault', 'graply']

In [48]:
var3[-1] = 'grape'

In [49]:
del var3[-3]

In [50]:
var3

[420, 'text', True, 20, 'grault', 'grape']

In [51]:
var3[2:4] = [False, False, 7.5]

In [52]:
var3

[420, 'text', False, False, 7.5, 'grault', 'grape']

## Tuple

In [53]:
t = ('foo', 'bar', 'baz', 'qux', 'quux', 'corge')
print(t)
type(t)

('foo', 'bar', 'baz', 'qux', 'quux', 'corge')

tuple

In [54]:
print(t[0])
print(t[-2])

foo
quux

In [55]:
s1, s2, s3, s4, s5, s6 = t
print(s1)
print(s2)
print(s3)
print(s4)
print(s5)
print(s6)

foo
bar
baz
qux
quux
corge

## Dictionary

In [56]:
MLB_team = {
    'Colorado' : 'Rockies',
    'Boston' : 'Red Sox',
    'Minnesota' : 'Twins'
}
MLB_team['Colorado']

'Rockies'

In [57]:
MLB_team['Minnesota']

'Twins'

In [58]:
MLB_team['Kansas City'] = 'Royals'

In [59]:
MLB_team

{'Colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesota': 'Twins',
 'Kansas City': 'Royals'}

In [60]:
MLB_team['Boston'] = 'RedSox'
MLB_team

{'Colorado': 'Rockies',
 'Boston': 'RedSox',
 'Minnesota': 'Twins',
 'Kansas City': 'Royals'}

In [61]:
del MLB_team['Minnesota']
MLB_team

{'Colorado': 'Rockies', 'Boston': 'RedSox', 'Kansas City': 'Royals'}

In [62]:
person = {}
type(person)

dict

In [63]:
person['fname'] = 'Hack'
person['lname'] = 'PTP'
person['Age'] = 51
person['spouse'] = 'Edna'
person['children'] = ['Ralph', 'Betty', 'Joey']
person['pets'] = {
    'dog' : 'Fido',
    'cat' : 'Sox'
}
person

{'fname': 'Hack',
 'lname': 'PTP',
 'Age': 51,
 'spouse': 'Edna',
 'children': ['Ralph', 'Betty', 'Joey'],
 'pets': {'dog': 'Fido', 'cat': 'Sox'}}

In [64]:
print(person['fname'])
print(person['Age'])

Hack
51

In [65]:
person['children'][1]

'Betty'

In [66]:
person['pets']['cat']

'Sox'

In [67]:
print(person.items())

dict_items([('fname', 'Hack'), ('lname', 'PTP'), ('Age', 51), ('spouse', 'Edna'), ('children', ['Ralph', 'Betty', 'Joey']), ('pets', {'dog': 'Fido', 'cat': 'Sox'})])

In [68]:
print(person.keys())

dict_keys(['fname', 'lname', 'Age', 'spouse', 'children', 'pets'])

In [69]:
print(person.values())

dict_values(['Hack', 'PTP', 51, 'Edna', ['Ralph', 'Betty', 'Joey'], {'dog': 'Fido', 'cat': 'Sox'}])

## Line Continuation

In [70]:
person1_age= 42
person2_age = 16
person3_age = 71
benarkah = (person1_age >=18 and person1_age <= 65) or (person2_age >=18 and person2_age <= 65) or (person3_age >=18 and person3_age <= 65)
benarkah

True